<h1>{{ site.name }}</h1>
<ul id='links'>

    <li><a href="xxx">Getting Started</a></li>
    <li><a href="xxx">v3.3 Release Notes</a></li>
    <li><a href="xxx">FAQ</a></li>
    <li><a href="xxx">Core Modules</a></li>
    <li><a href="xxx">Add On Modules</a></li>
    <li><a href="xxx">Proposals/RFCs</a></li>
    <li><a href="xxx">Code Reviews</a></li>
    <li><a href="xxx">Join the Team</a></li>
    <li><a href="xxx">Incomplete Pages</a></li>
  {% for category in site.categories %}
  <li><h2>{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}        
        <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>