<h1>{{ site.title }}</h1>
<ul id='links'>

    <li><a href="/">Home</a></li>
    <li><a href="/docs/installation.html">Install Instructions</a></li>
    <li><a href="/release-notes/3.4.html">v3.4 Release Notes</a></li>
    <li><a href="/docs/faq.html">FAQ</a></li>
    <li><a href="/modules/core.html">Core Modules</a></li>
    <li><a href="/modules/add-on.html">Add On Modules</a></li>
    <li><a href="/docs/module-building-guide.html">Module Building Guide</a></li>
    <li><a href="/all/proposals.html">Proposals/RFCs</a></li>
    <li><a href="/docs/join-the-team.html">Join the Team</a></li>
    <li><a href="/all/pages.html">All Pages</a></li>
  {% for category in site.categories %}
  <li><h2>{{ category | first }}</h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}        
        <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>